# lockfiles from uv
uv.lock
uv.lock

# all files inside baml_client
./baml_client/

# environment variables so that api keys are protected
.env

# cache data and compiled files everywhere they are
*__pycache__/

# data files
/data/
/lancedb/
/sample_data/

# lance datas
*.lance
baml_client/

# .venv data
.venv/
venv/
uv.lock
